lib/
dist/
build/
*.egg-info/
voicecell/_version.py
voicecell/labextension/
node_modules/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
Untitled*.ipynb
voicecells_of_*/
*.ipynb_checkpoints/
.ipynb_checkpoints/
.virtual_documents/
.eslintcache
.stylelintcache
tsconfig.tsbuildinfo
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.DS_Store
Thumbs.db